---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
    {
        date: "Septiembre 2022 - Actualidad",
        title: "Software Developer",
        company: "Ética Empresa Turística Internacional C.A.",
        description:
            "Desarrollo frontend con React, Astro.js y TypeScript. Integración de backends en Laravel, NestJS y Django. Automatización con Power Automate, conexión con Salesforce y despliegues en AWS/Azure usando CI/CD.",
    },
    {
        date: "Octubre 2021 - Enero 2022",
        title: "Front-End Developer",
        company: "Nurburgimp Imports",
        description:
            "Creación del sitio web corporativo con React, Astro y WordPress. Integración con herramientas como Zapier y Tag Manager, y mejoras en SEO, rendimiento y flujos de despliegue.",
    }
];



---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
